@using Microsoft.AspNetCore.Components.Web;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToolApp</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/MarkDown/css/editormd.css" rel="stylesheet" />
    <link href="~/lib/MarkDown/css/editormd.preview.css" rel="stylesheet" />

    <script src="~/lib/jsoneditor/jsoneditor.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/qrcode/qrcode.min.js"></script>
    <!-- 导入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <!-- 导入 Vue 3 -->
@* <script src="//unpkg.com/vue@3"></script> *@
    <!-- 导入组件库 -->
@* <script src="https://unpkg.com/element-plus"></script> *@
@* <script src="https://unpkg.com/axios/dist/axios.min.js"></script> *@
    <!-- 导入组件库 -->
    <link href="~/lib/github-markdown-css/github-markdown-light.css" rel="stylesheet" type="text/css" />
    <!--阿里图标 -->
    <script src="//at.alicdn.com/t/c/font_2344911_fpf5mihiwg.js"></script>
    <!--有些js会有冲突导致报错，无法加载组件，可在页面单独处理-->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <script src ="~/_framework/blazor.server.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ToolApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;2021 - ToolApp - <a asp-page="./Article" asp-route-filename="小程序.md">小程序</a> - <a href="/About">关于</a>
        </div>
    </footer>
</body>
</html>
