@page
@model ToolApp.Pages.QueryTools.GetImagesModel

<div id="app">
    <el-row>
        <el-col :span="24">
            <h2>一键下载网页图片（开发中）</h2>
        </el-col>
    </el-row>
</div>
<script>
    var service = "http://localhost:16524/Spider/GetImagesFromUrl";
    const App = {
        data() {
            return {
                formData: {
                    inputUrl: ""
                },
                images: []
            }
        },
        created: function() {
        },
        methods: {
            GetImages() {
                var self = this;
                axios({
                    method: 'get',
                    url: service,
                    params:
                    {
                        url: self.formData.inputUrl
                    }
                })
                    .then(function(response) {
                        console.log(response);
                        self.images = response.data;
                    }).
                    catch(function(error) {
                        console.log(error);
                    });;
            },
            DownImages() {
            }
        }
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>