@page
@using ToolApp.Pages.Common;
@model RegularModel
@{
    ViewData["Title"] = "正则表达式测试";
}
<div class="text-left">
    <h3>@ViewData["Title"]</h3>
    <p>正则表达式测试工具，是检验正则模式和给定文本之间是否匹配的工具，它能够把匹配到的结果高亮显示，是在线验证正则表达式的必备工具。本工具使用原生 JS 实现，具有极高的正则解析和匹配效率。另外，本工具还提供了各种常用正则表达式的写法，可以作为日常书写正则表达式时的参考。</p>
    <div class="RegularContent">
        <div class="RegularInput">
            <textarea id="RegularInputValue" placeholder="请输入需要匹配的内容" style="height:250px;width:100%;"></textarea>
        </div>
        <div class="RegularOption" style="margin-top:10px;width:100%;">
            <input id="RegularPattern" placeholder="请输入表达式"></input>
            <button onclick="OnMatch()">点击测试</button>
        </div>
        <div class="RegularOutput" style="margin-top:10px;">      
            <textarea id="RegularOutputValue" style="height:250px;width:100%;"></textarea>
        </div>
    </div>
    <div id="content_view">      
        <textarea id="content_editor" style="display:none;">@ViewData["Content"]</textarea>
    </div>
</div>
<component type="typeof(Description)" param-DescFileName='"RegexTest.md"' render-mode="ServerPrerendered" />

<script>
function OnMatch() {
    var pattern=document.getElementById("RegularPattern").value;
	var str = document.getElementById('RegularInputValue').value;
    var regex=new RegExp(pattern,"g");
    var result=str.match(regex);
    console.log(result);
	if (null==result || 0==result.length) {
		$("#RegularOutputValue").value = "（没有匹配）";
		return false;
	}
    var strResult = "共找到 " + result.length + " 处匹配：\r\n";
    for (var i=0;i < result.length;++i)strResult = strResult + result[i] + "\r\n";
    document.getElementById("RegularOutputValue").value = strResult;
}
</script>