@page
@model QrCodeCreateModel
@{
    ViewData["Title"] = "二维码生成";
}
<div class="text-left">
    <h3>@ViewData["Title"]</h3>
    <div class="QrCode-Content">
        <div class="QrCodeValueInput">
            <textarea id="QrCodeInputValue" placeholder="请输入内容" style="width:600px;height:300px;"></textarea>
            <button style="margin-top:10px;width:100px;" onclick="CreateQrCode()">点击生成</button>
        </div>
        <div class="QrCode-View">
            <div id="qrcode" style="width:300px;height:300px;background:#eee;"></div>
            <button style="width:300px;margin-top:10px;width:100px;" onclick="DownQrCodeImage()">点击下载</button>
        </div>
    </div>

    <div id="content_view">      
        <textarea id="content_editor" style="display:none;">@ViewData["Content"]</textarea>
    </div>
</div>
<script type="text/javascript">
    function CreateQrCode(){
        $("#qrcode").empty();
        var qrcode=new QRCode(document.getElementById("qrcode"));
        var inputValue=$("#QrCodeInputValue").val();
        qrcode.clear();
        qrcode.makeCode(inputValue);
    }
    function DownQrCodeImage(){
        var qrcode = document.getElementById('qrcode');
        // 获取到图片元素
        var img = qrcode.getElementsByTagName('img')[0];
        // 获取图片地址
        var url = img.src;
        // 创建一个a节点插入的document                         
        var a = document.createElement('a');          
        // 模拟鼠标click点击事件
        var event = new MouseEvent('click');
        //生成图片名称
        var date=new Date();
        var filename=date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+"-"+date.getTime()+".png";           
        // 设置a节点的download属性值
        a.download = filename;
        // 将图片的src赋值给a节点的href       
        a.href = url;
        // 触发鼠标点击事件                                
        a.dispatchEvent(event);                        
    }
</script>