<?xml version="1.0" encoding="utf-8"?>
<!--
  自包含：目标机无需单独安装 .NET 运行时，输出体积较大。
  等价：dotnet publish -c Release -r linux-x64 /p:SelfContained=true
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>bin\Release\net9.0\publish\linux-x64-sc\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
  </PropertyGroup>
</Project>
