/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*ul{
  text-decoration: none;
  padding: 0;
}*/
.icon {
  width: 30px;
  height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.TypeTitle {
  display: flex;
  font-weight: bold;
  margin: 0.5%;
}
/*li {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}*/
.ul_tools {
  padding: 0px;
  display: flex;
  flex-wrap:wrap;
}
.sp_toolname {
  margin-left: 10px;
}
li.li_tool {
  display: flex;
  width: 24%;
  margin: 0.5%;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 3px;
}
a.a_tool {
  display: flex;
  align-items: center;
}
li.li_BConversion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.symbol_type{

}
td {
  /* width: 30px;
  border: 1px solid;
  text-align: center; */
}
li.symbol_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
table {
  border-collapse: unset !important;
}
.Code_Option {
  display: flex;
  flex-direction: column;
}
ul.Code_OptionButton {
    list-style: none;
    display: flex;
    margin: 10px 0px;
    padding: 0;
}
ul.Code_OptionButton li{
  margin-right: 10px;
}
div#content_view {
  padding-left: 0;
  padding-right: 0;
}

.JsonConvert {
  display: flex;
  justify-content: space-between;
  height: 600px;
}
textarea#jsoninput {
  width: 49%;
}
div#jsonview {
  width: 49%;
}

.div-output {
  display: flex;
  flex-direction: column;
}
input.ip-colorvalue {
  width: 200px;
}

.QrCode-Content {
  display: flex;
}

.QrCodeValueInput {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-right: 30px;
  align-items: center;
}

.QrCode-View {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
}