@page
@model CodeGenerationModel
@{
    ViewData["Title"] = "代码生成";
}
<div class="text-left">
    <h3>@ViewData["Title"]</h3>
    <div class="color-content">
        <strong>生成网页嵌套代码</strong>
        <div class="div-input">
            <span>视频地址</span>
            <input type="text" name="" placeholder="视频地址" id="VideoUrl">
            <span>宽度</span>
            <input type="text" name="" placeholder="宽度" id="Width" value="100%">
            <span>高度</span>
            <input type="text" name="" placeholder="高度" id="Height" value="500">
            <button onclick="CodeGeneration()">生成</button>
        </div>
        <strong>生成结果</strong>
        <div class="div-output">
            <textarea id="OutCode"></textarea>
        </div>
    </div>
</div>

<script>
    function CodeGeneration(){
        var videoUrl=$("#VideoUrl").val();
        var width=$("#Width").val();
        var height=$("#Height").val();
        $("#OutCode").val('<iframe src="'+videoUrl+'" width="'+width+'" height="'+height+'"></iframe>');
    }
</script>
