@page
@model LengthConvertModel
@{
    ViewData["Title"] = "长度转换";
}
<div class="text-left">
    <h3>@ViewData["Title"]</h3>
    <div id="content_view">      
        <textarea id="content_editor" style="display:none;">@ViewData["Content"]</textarea>
    </div>
</div>

