@page
@model SpecialSymbolsModel
@{
    ViewData["Title"] = "特殊符号";
}
<div class="text-left">
    <h3>@ViewData["Title"]</h3>
    <div id="content_view">      
        <textarea id="content_editor" style="display:none;">@ViewData["Content"]</textarea>
    </div>
</div>

<script>
    $(function(){
        testEditormdView = editormd.markdownToHTML("content_view", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
            preview:true,
            watch:true,
            editor:false,
            width:"100%"
        });
    });
</script>